/**
Variable définition
 */

:root {
    --text-color: #F4F9F5;
    --title-text-color: #F3B353;
    --container-bg-color: #F4F9F5;
    --background-color: #ACB9C1;
    --important-bg-color: #465C73;

    --link-color: #f3b353;
    --link-hover-color: #b85e62;

    --card-bg-color: #F4F9F5;
    --card-text-color: #465C73;
    --card-link-color: #9690AE;
    --card-link-hover-color: #927FC0;

}

/**
General style
 */

body {
    background: var(--background-color);
    color: var(--text-color)
}

.body-container {
    height: 100vh;
    background: var(--container-bg-color);
}


/**
Navigation style
 */

.navigation {
    background: var(--important-bg-color);
    box-shadow: 0 0.05rem 5px #000;
}

.navigation .navigation-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(184, 94, 98, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navigation a {
    color: var(--link-color);
    transition: color 0.3s;
}

.navigation a:hover {
    color: var(--link-hover-color);
}

/**
Card style
 */

.card-header {
    background: var(--important-bg-color);
    color: var(--title-text-color);
}

.postsCard,
.categoryCard {
    background: var(--card-bg-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.postsCard .card-body,
.categoryCard .card-body {
    color: var(--card-text-color);
}

.postsCard a,
.categoryCard a {
    color: var(--card-link-color);
    transition: all 0.3s;
}

.postsCard a:hover,
.categoryCard a:hover {
    color: var(--card-link-hover-color);
}

.postsCard:first-child,
.categoryCard:first-child {
    margin-top: 0;
}

.postsCard:last-child,
.categoryCard:last-child {
    margin-bottom: 0;
}